const styles = {

  container: {
    textAlign: "center",
    padding: "80px 20px",
    backgroundColor: "#fff8f3"
  },

  heading: {
    fontSize: window.innerWidth <= 768 ? "35px" : "60px",
    color: "#ff6b00",
    fontWeight: "bold",
    marginBottom: "20px"
  },

  text: {
    fontSize: window.innerWidth <= 768 ? "16px" : "22px",
    color: "gray",
    maxWidth: "700px",
    margin: "auto",
    lineHeight: "35px",
    marginBottom: "30px"
  },

  button: {
    backgroundColor: "#ff6b00",
    color: "white",
    border: "none",
    padding: "15px 35px",
    fontSize: "18px",
    borderRadius: "10px",
    cursor: "pointer",
    fontWeight: "bold",
    transition: "0.3s"
  }

}